@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}		/*通配符清除间距*/
a{ text-decoration:none;}		/*清除所有 a 标签的下划线*/
li{ list-style:none;}
img{ display:block;}

.fl{ float:left;}				/*左浮动*/
.fr{ float:right;}				/*右浮动*/
.clearFix:after{ content:''; display:block; clear:both;}								
.clearFix{ zoom:1;}					/*终级清浮动的办法  将clearFix给浮动的父级*/

.wraper{ width:980px; margin:0 auto;}		/*版心*/